/* ===== Base ===== */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "San Francisco", sans-serif;
          animation: fadeIn 5s ease;
      }

      body {
        background: radial-gradient(circle at top, #1a1a1a, #0d0d0d);
        color: #f2f2f2;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
          animation: fadeIn 5s ease;
}

/* ===== Headers ===== */
      .header {
        text-align: center;
        margin-top: 40px;
        color: #fff;
        position: relative;
        z-index: 1;
        animation: fadeIn 1.5s ease-in-out;
      }

      @keyframes fadeIn {
        from { opacity: 0; transform: translateY(10px); }
        to { opacity: 1; transform: translateY(0); }
      }

      h1 {
        font-size: 3rem;
        background: linear-gradient(90deg, #ff1414, #ff144f, #f00041);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 15px 0;
     animation: fadeIn 5s ease;
      }

      h2 {
        color: #e6e6e6;
        font-weight: 400;
        max-width: 700px;
        line-height: 1.5;
        text-align: center;
        margin: 20px auto;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 10px;
        padding: 20px;
        backdrop-filter: blur(8px);
        position: relative;
        z-index: 1;
           animation: fadeIn 5s ease;
      }

      hr {
        width: 60%;
        border: none;
        height: 2px;
        background: linear-gradient(90deg, transparent, #ff4d4d, transparent);
        margin: 25px 0;
        position: relative;
        z-index: 1;
           animation: fadeIn 5s ease;
      }

      footer {
        margin-top: 40px;
        font-size: 0.9rem;
        color: #888;
        text-align: center;
        padding-bottom: 30px;
        z-index: 1;
           animation: fadeIn 5s ease;
      }

      footer span {
        color: #ff4d4d;
           animation: fadeIn 5s ease;
      }

     p {
          animation: fadeIn 5s ease;
     }
      /*===== Scrollbar =====*/
      ::-webkit-scrollbar {
        width: 8px;
           
      }
      ::-webkit-scrollbar-thumb {
        background: linear-gradient(#ff3366, #ff9966);
        border-radius: 5px;
      }
